<%= content_for :page_header do %>
    <h3 class="exam-title" style="margin-top: 10px;">
      <%= link_to "Exam: #{@subject.exam.title}", admin_exam_path(@subject.exam) %> </h3>
    <h4> Subject: <%= @subject.title %> </h4>
    <i> <%= @subject.description %> </i>
<% end %>

<div class="panel panel-default question-list">
  <div class="panel-heading">
    Question List
  </div>
  <div class="panel-body">
    <% if @questions.present? %>
        <ul class="question-items">
          <% @questions.each do |question| %>
              <li class="question-item"><%= link_to question.title, admin_subject_question_path(question.subject_id, question.id) %></li>
          <% end %>
        </ul>
    <% end %>
  </div>
</div>

<div class="panel panel-default question-content">
  <div class="panel-heading">
    Create Question
  </div>
  <div class="panel-body">
    <div class="new-question">
      <%= form_for @question, url: admin_subject_questions_path(@subject.exam_id, @subject.id) do |f| %>
          <%= link_to_add_fields "Add Question", f, :answers %>
          <div class="form-group">
            <%= f.text_area :title, class: 'form-controll question-title', required: true, placeholder: 'Write your question...' %>
          </div>
          <%= f.fields_for :answers do |builder| %>
              <%= render 'admin/subjects/answer_fields', :f => builder %>
          <% end %>
          <p><%= f.submit "Create Question", class: 'form-controll pull-right answer-submit-btn btn btn-success' %></p>
      <% end %>
    </div>
  </div>
</div>




